
<h1>Tourney</h1>
  <p>
    <strong>Name:</strong>
    <%= @tournament.name %>
  </p>
  
  <p>
    <strong>Organizer:</strong>
    <%= @tournament.user.name %>
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= @tournament.description %>
  </p>
  
  <p>
    <strong>Start date:</strong>
    <%= @tournament.start_date %>
  </p>

