<h1>Editing Match</h1>

<%= render 'form', match: @match %>

<%= link_to 'Show', match_path(id:@match.id), class: 'btn btn-primary'  %> |
<%= link_to 'Back', round_path(id:@match.round.id), class: 'btn btn-primary'  %>
